<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">

    <button
        mat-stroked-button
        color="primary"
        (click)="openDialog()"
        class="btn-block"
      >
      View Saved Users</button>

      <br/>
      <br/>
      <br/>

    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            matInput
            name="first_name"
            [(ngModel)]="first_name"
            placeholder="First Name"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            name="last_name"
            [(ngModel)]="last_name"
            placeholder="Last Name"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            name="user_name"
            [(ngModel)]="user_name"
            placeholder="User Name"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            name="email"
            [(ngModel)]="email"
            placeholder="Email"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            name="password"
            [(ngModel)]="password"
            placeholder="Password"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            name="phone"
            [(ngModel)]="phone"
            placeholder="Phone Number"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            name="street"
            [(ngModel)]="street"
            placeholder="Street Address"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput name="town" [(ngModel)]="town" placeholder="Town" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            name="state"
            [(ngModel)]="state"
            placeholder="State"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput name="lga" [(ngModel)]="lga" placeholder="LGA" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            name="country"
            [(ngModel)]="country"
            placeholder="Country"
          />
        </mat-form-field>
      </mat-card-content>

      <button
        mat-stroked-button
        color="secondary"
        (click)="requestSignup()"
        disabled={{btnDisabled}}
        class="btn-block"
      >
        Register
      </button>
    </form>
  </mat-card>
</div>
